@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');


body, .maincolors {
    background-color: #FBFBFB;
    color:black;
}

.subcolorone {
    background-color: #004196;
    color:white;
}

.subcolortwo {
    background-color: #CDE3FF;
    color:#0C1639;
}

.container h1, .container h2, .container h3, .container h4, .container h5, .container h6, .headfont {
    font-family:"Noto Sans", sans-serif;
}

.container p, .container li, .parafont {
    font-family: "Quicksand", sans-serif;
    font-size:1.8rem;
}

footer p {
    font-size:1.3rem;
}

footer a:link, footer a:active {
    color:#CDE3FF;
}

footer a:hover, footer a:visited {
    color:#f1f7ff
}

hr {

    border: white 2px solid;
    width:85%;
    margin:auto 1px;

}