.cardimgadj {

    max-height:30rem;
    height:100%;

    width:auto;

}

@media screen and (max-width:767px) {

    .cardimgadj {

    max-height:auto;
    height:auto;

    width:100%;
    max-width:33rem;

    margin:auto;

    }

}